<div style="width: 220px;" class="progress progress-success progress-striped">
	<div class="bar"></div>
</div>
<p class="text-error">Something went wrong</p>
<div>
	<span class="btn btn-success fileinput-select"><i class="icon-white icon-plus"></i> <span>Select</span></span>
	<span class="btn btn-info fileinput-change"><i class="icon-white icon-upload"></i> <span>Change</span></span>
	<span class="btn btn-danger fileinput-remove"><i class="icon-white icon-remove"></i> <span>Remove</span></span>
</div>